# Supabase Configuration
VITE_SUPABASE_URL=https://qifkgiqvnqrrgjmikity.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_okIhHmvGAc8UhvvYBUEhnQ_S34we5c3

# Application URL
VITE_LANDAI_APP_URL=http://localhost:3000
